.main_inner_container
  .main_header
    .row
      .columns
        .page_title
          %a{:href=>'/'}
            %h1 OMAR JALALZADA
            %h5 Agrion
  
  .main_showcase.main_conatainers
    .row
      .cat_header
        %h5
          Branding
    .row.margin_bottom
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
    .row
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}

  = partial "partials/project_list"
        