---
title: Omar Jalalzada - Eats, a mobile app
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Eats, a mobile app" }
  
  .main_brief.main_conatainers  
    .row
      .columns.small-12.large-6
        %p
          = lorem.paragraph
      .columns.small-12.large-6
        %p 
          = lorem.paragraph

  .main_showcase.main_conatainers
    .row
      .cat_header
        %h5
          Mobile App
    .row.margin_bottom
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
    .row
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x480')}"}

  .main_additional_efforts.main_conatainers
    .row
      .cat_header
        %h5
          Additional Research
    .row
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x320')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x320')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x320')}"}
      .columns.small-6.large-3
        %img{:src=>"#{lorem.image('320x320')}"}

  = partial "partials/project_list"
        