.main_inner_container
  .main_header
    .row
      .columns
        .page_title
          %a{:href=>'/'}
            %h1 OMAR JALALZADA
            %h5 Moovweb

  .main_projects.cat_main_container
    .row
      .cat_header
        %h5
          Building the brand
    .row.main_projects_content.max_width_center
      / .columns.small-6.large-3
      /   .custom_round_containers
      /     %ul.clearing-thumbs.clearing-feature{:data => { :clearing => true}}
      /       %li.clearing-featured-img
      /         %a{:href=>"#{lorem.image('1200x1200')}"}
      /           %img{:data => { :caption => "omar-caption111"},:src=>"#{lorem.image('110x110')}"}
      /       %li
      /         %a{:href=>"#{lorem.image('1200x1202')}"}
      /           %img{:data => { :caption => "omar-caption222"},:src=>"#{lorem.image('110x110')}"}
      /       %li
      /         %a{:href=>"#{lorem.image('1200x1203')}"}
      /           %img{:data => { :caption => "omar-caption333"},:src=>"#{lorem.image('110x110')}"}

          
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Branding Guideline')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Corporate Site')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Blog')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Social')}"}
    
  .special_projects.cat_main_container
    .row
      .cat_header
        %h5
          Special Projects
    .row.main_projects_content.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Harlem Shake')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Whitepaper')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Console')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Promotions')}"}
    
  .mobile_projects.cat_main_container
    .row
      .cat_header
        %h5
          Mobile Projects
    .row.main_projects_content.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Invitrogen')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Vitamin World')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Ticket Web')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Life Technologies')}"}

  
  = partial "partials/project_list"
      