---
title: Omar Jalalzada - Moovweb
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Moovweb" }

  = partial "partials/_project_navigator", :locals => {:prev_link =>"#", :next_link=> "eats.html", :prev_state =>"disabled", :next_state=>"active" }
  
  .main_brief.cat_main_container  
    .row.max_width_center
      .columns
        %p
          Working for Moovweb has been an experience of a lifetime. I started from a basic entry position and 34 months later I was the creative director for the company.
        %p
          Through this journey I gained a termendous amount of knowledge about the industry and business. Below are a sample of projects I have been involved in as designer, developer and director:
  .main_projects.cat_main_container
    .row
      .cat_header
        %h5.max_width_center
          Building the brand
    .row.main_projects_content.max_width_center
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.branding_guide
              .bg_img
              .text Branding Guideline
            = partial "projects/moovweb_assets/branding_guideline"

      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.corp_site
              .bg_img
              .text Corporate Website
            = partial "projects/moovweb_assets/corporate_site"

      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.corp_blog
              .bg_img
              .text Blog
            = partial "projects/moovweb_assets/blog"
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.social_media
              .bg_img
              .text Social Media
            = partial "projects/moovweb_assets/social"
    
  .special_projects.cat_main_container
    .row
      .cat_header
        %h5.max_width_center
          Special Projects
    .row.main_projects_content.max_width_center
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.harlem_shake
              .bg_img
              .text Harlem Shake
            = partial "projects/moovweb_assets/harlem_shake"
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.white_paper
              .bg_img
              .text White Paper
            = partial "projects/moovweb_assets/whitepaper"
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          %a.main_trigger.console.idle.has-tip.tip-top{:title=>"Coming Soon", " data-tooltip " => true}
            .bg_img
            .text Console
          / .main_project_viewer_container
          /= partial "projects/moovweb_assets/social"
      .columns.small-6.medium-3.large-3
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.promos
              .bg_img
              .text Promotions
            = partial "projects/moovweb_assets/promotions"
    
  / .mobile_projects.cat_main_container
  /   .row
  /     .cat_header
  /       %h5.max_width_center
  /         Mobile Projects
  /   .row.main_projects_content.max_width_center
  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger
  /             .bg_img
  /             .text Invitrogen
  /           = partial "projects/moovweb_assets/social"
  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger
  /             .bg_img
  /             .text Vitamin World
  /           = partial "projects/moovweb_assets/social"
  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger
  /             .bg_img
  /             .text TicketWeb
  /           = partial "projects/moovweb_assets/social"
  /     .columns.small-6.medium-3.large-3
  /       .custom_round_containers
  /         .main_project_viewer_container
  /           %a.main_trigger
  /             .bg_img
  /             .text Life Technologies
  /           = partial "projects/moovweb_assets/social"

  
  = partial "partials/project_list"
      