---
title: Omar Jalalzada - Moovweb
---
.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Moovweb" }

  = partial "partials/_project_navigator", :locals => {:prev_link =>"#", :next_link=> "eats.html", :prev_state =>"disabled", :next_state=>"active", :prev_msg =>" ¯\\_(ツ)_/¯", :next_msg=>"View 'Eats' Project" }
  
  .main_brief.main_containers
    .row
      .columns.large-8
        %p
          Working for Moovweb was an experience of a lifetime. Starting from an entry level position I managed to work my way up to be the Creative Director for the company.
          %br
          %br
          Through this 3 year long journey I learned a lot about myself and gained a tremendous amount of knowledge about the industry and business. Below are a few samples of the projects I have been involved in as a designer, developer or director:
  .project_branding_guide.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Buiding the brand
          %span.detail
            %p 
              As the Creative Director I created a branding guideline that aligned all the design efforts within the company. We were growing rapidly and the amount of content being generated were increasing significantly,
              %a{:href=>"/images/assets/moovweb_branding_guideline.pdf", :target=>"_blank"} this document
              introduced consistency and efficiency for all those efforts.
            %p.credits
              Role: Creative Director and Lead Designer
              Additional Credits to: Moly Yim
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/branding_guideline/definition.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/branding_guideline/categories.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/branding_guideline/alert.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/branding_guideline/icons.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/branding_guideline/iconset.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/branding_guideline/head.png"}
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/moovweb/branding_guideline/sub_head.png"}
      / .columns.medium-12.large-6
      /   %img{:src=>"/images/projects/moovweb/branding_guideline/iphones.png"}


  .project_website.main_containers
    .row
      .columns.cat_header.color_white
        %h5
          Corporate Website
          %span.detail
            %p 
              We designed and developed the site within a month and a half. It resulted in higher engagement rates, longer visits and lower bounce rate. The development stack consist of Ruby on Rails deployed on Heroku and served through the Moovweb Platform. I utilized our own platform to create a single code base for all touch points (tablet, mobile and desktop), which was the first ever use case for the "subdomain agnostic" abilities of the product.
            %p.credits
              Role: Creative Director, Lead Designer and Developer
              %br
              Additional Credits to: Moly Yim, Melanie Pavao, Bruce Sullivan
    .row
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/corporate_website/homepage.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/corporate_website/pricing.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/corporate_website/additional.png"}
      .columns.medium-12.large-6
        %img{:src=>"/images/projects/moovweb/corporate_website/wireframes.png"}

    
  .special_projects.cat_main_container
    .row
      .cat_header.color_white
        %h5
          A few other Moovweb projects

    .row.main_projects_content
      .columns.small-6.medium-2.large-2
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.harlem_shake
              .bg_img
              .text Harlem Shake
            = partial "projects/moovweb_assets/harlem_shake"

      .columns.small-6.medium-2.large-2
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.corp_blog
              .bg_img
              .text Blog
            = partial "projects/moovweb_assets/blog"

      .columns.small-6.medium-2.large-2
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.social_media
              .bg_img
              .text Social Media
            = partial "projects/moovweb_assets/social"

      .columns.small-6.medium-2.large-2
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.white_paper
              .bg_img
              .text White Paper
            = partial "projects/moovweb_assets/whitepaper"

      .columns.small-6.medium-2.large-2.pull-2
        .custom_round_containers
          .main_project_viewer_container
            %a.main_trigger.promos
              .bg_img
              .text Promotions
            = partial "projects/moovweb_assets/promotions"

  = partial "partials/project_list"
      