.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "Moovweb" }
  
  .main_brief.main_conatainers  
    .row
      .columns.small-12.large-6
        %p
          = lorem.paragraph
      .columns.small-12.large-6
        %p 
          = lorem.paragraph

  .main_projects.cat_main_container
    .row
      .cat_header
        %h5
          Building the brand
    .row.main_projects_content.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          .main_slide_show_container
            .main_trigger
              %img{:src=>"#{lorem.image('110x110',:text =>'Branding Guideline')}"}
            %span.main_img
              .main_img_1
                %img{:data_src=>"#{lorem.image('600x500',:text =>'main_1_brand')}"}
              .main_img_2
                %img{:data_src=>"#{lorem.image('600x500',:text =>'main_2_brand')}"}
              .main_img_3
                %img{:data_src=>"#{lorem.image('600x500',:text =>'main_3_brand')}"}
      .columns.small-6.large-3
        .custom_round_containers
          .main_slide_show_container
            .main_trigger
              %img{:src=>"#{lorem.image('110x110',:text =>'Corporate Site')}"}
            %span.thumbs.site
              .thumb_img_1
                %img{:data_src=>"#{lorem.image('100x100',:text =>'thumb_1_corp_site')}"}
              .thumb_img_2
                %img{:data_src=>"#{lorem.image('100x100',:text =>'thumb_2_corp_site')}"}
              .thumb_img_3
                %img{:data_src=>"#{lorem.image('100x100',:text =>'thumb_3_corp_site')}"}
            %span.main_img
              .main_img_1
                %img{:data_src=>"#{lorem.image('600x500',:text =>'main_1_corp_site')}"}
              .main_img_2
                %img{:data_src=>"#{lorem.image('600x500',:text =>'main_2_corp_site')}"}
              .main_img_3
                %img{:data_src=>"#{lorem.image('600x500',:text =>'main_3_corp_site')}"}

      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Blog')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Social')}"}
    
  .special_projects.cat_main_container
    .row
      .cat_header
        %h5
          Special Projects
    .row.main_projects_content.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Harlem Shake')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Whitepaper')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Console')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Promotions')}"}
    
  .mobile_projects.cat_main_container
    .row
      .cat_header
        %h5
          Mobile Projects
    .row.main_projects_content.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Invitrogen')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Vitamin World')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Ticket Web')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Life Technologies')}"}

  
  = partial "partials/project_list"
      