.columns.small-6.large-3
  .custom_round_containers
    %a{:href=>'projects/moovweb.html'}
      %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %a{:href=>'projects/eats.html'}
      %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-6.large-3
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}