.main_nav_to_work#project_list
  .row.max_width_center
    .cat_header
      %h5.icon_before_title Additional Projects
  .row.showcase.max_width_center
    .columns.small-6.large-3
      .custom_round_containers
        - link_to '/projects/moovweb.html'do
          = image_tag "#{lorem.image('100x100', :text =>'Moovwweb')}"
    .columns.small-6.large-3
      .custom_round_containers
        - link_to '/projects/eats.html'do
          = image_tag "#{lorem.image('100x100', :text =>'Eats')}"
    .columns.small-6.large-3
      .custom_round_containers
        - link_to '/projects/agrion.html'do
          = image_tag "#{lorem.image('100x100', :text =>'Agrion')}"
    .columns.small-6.large-3
      .custom_round_containers
        %img{:src=>"#{lorem.image('110x110')}"}
    .columns.small-6.large-3
      .custom_round_containers
        %img{:src=>"#{lorem.image('110x110')}"}
    .columns.small-6.large-3
      .custom_round_containers
        %img{:src=>"#{lorem.image('110x110')}"}
    .columns.small-6.large-3
      .custom_round_containers
        %img{:src=>"#{lorem.image('110x110')}"}
    .columns.small-6.large-3
      .custom_round_containers
        %img{:src=>"#{lorem.image('110x110')}"}