.columns.small-4.large-4
  .custom_round_containers
    %a{:href=>'projects/moovweb.html'}
      %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-4.large-4
  .custom_round_containers
    %a{:href=>'projects/eats.html'}
      %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-4.large-4
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.row.showcase
.columns.small-4.large-4
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-4.large-4
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}
.columns.small-4.large-4
  .custom_round_containers
    %img{:src=>"#{lorem.image('110x110')}"}