---
title: Omar Jalalzada - Homepage
---

.main_inner_container
  = partial "partials/main_header", :locals => { :main_title => "OMAR JALALZADA", :sub_title => "designer & front-end developer" }

  
  .main_nav
    .row.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %a.work{:href=>"#project_list"} Work
      .columns.small-6.large-3
        .custom_round_containers
          %a.about_me{:href=>"#about_me"} About
      .columns.small-6.large-3
        .custom_round_containers
          %a.talk_to_me{:href=>"#talk_to_me"} Contact
      .columns.small-6.large-3
        .custom_round_containers
          %a.blog{:href=>"http://blog.ojtwisted.com", :target=>"_blank"} Blog

  = partial "partials/project_list"

  .main_about_me#about_me
    .row.max_width_center
      .cat_header
        %h5.icon_before_title Learn, implement, re-learn, repeat.
    .row.max_width_center
      .main_about_me_content
        .large-12.columns
          %p 
            = lorem.paragraph
          %p 
            = lorem.paragraph


  .main_lets_talk#talk_to_me
    .row.max_width_center
      .cat_header.color_white
        %h5.icon_before_title Let’s Work Together
    .row.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Email')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Call')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Tweet')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Linkedin')}"}
