---
title: Omar Jalalzada - Homepage
---
.main_inner_container
  .main_header
    .row
      .columns
        .page_title
          %h1 OMAR JALALZADA
          %h5 designer & front-end developer
  .main_nav
    .row
      .columns.small-6.large-3
        .custom_round_containers
          %a{:href=>"#project_list"}
            %img{:src=>"#{lorem.image('110x110',:text =>'Work')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %a{:href=>"#about_me"}
            %img{:src=>"#{lorem.image('110x110',:text =>'About me')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %a{:href=>"#talk_to_me"}
            %img{:src=>"#{lorem.image('110x110',:text =>'Contact me')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %a{:href=>"http://blog.ojtwisted.com", :target=>"_blank"}
            %img{:src=>"#{lorem.image('110x110',:text =>'blog')}"}
  = partial "partials/project_list"
  / .main_work
  /   .row
  /     .cat_header
  /       %h5 I craft experiences that resonates with humans. 
  /   .row.showcase
  /     = partial "partials/project_list"

  .main_about_me#about_me
    .row
      .cat_header
        %h5 Learn, implement, re-learn, repeat.
    .row
      .main_about_me_content
        .large-12.columns
          %p 
            = lorem.paragraph
          %p 
            = lorem.paragraph
          %p 
            = lorem.paragraph


  .main_lets_talk#talk_to_me
    .row.max_width_center
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Email')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Call')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Tweet')}"}
      .columns.small-6.large-3
        .custom_round_containers
          %img{:src=>"#{lorem.image('110x110',:text =>'Linkedin')}"}
